<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gameworld</title>
    <link rel="stylesheet" href="../css/galeria.css">
    <link rel="stylesheet" href="../css/lightbox.min.css">
    <script src="../js/lightbox-plus-jquery.min.js"></script>
    <link rel="icon" href="../imgs/Icono.ico" type="image/x-icon">
</head>
<body>
    
    <header>
        <!--Zona de la barra de navegación-->
        <nav>
            <h1>GAMEWORLD</h1>
            <div class="links-list">
                <!--Links a distintas partes de la web-->
                <a href="../index.html">Inicio</a>
                <a href="../views/presupuesto.html">Presupuesto</a>
                <a href="../views/galeria.html">Galeria</a>
                <a href="../views/contacto.html">Contacto</a>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>
        <h1 class="titulo">Galeria</h1>
        <!--Zona con las 8 fotos-->
        <div class="galeria">
            <a href="../imgs/foto1.jpeg" data-lightbox="migaleria"><img src="../imgs/foto1.jpeg" width="300" height="200" alt="imagen"></a>
            <a href="../imgs/foto2.jpg" data-lightbox="migaleria"><img src="../imgs/foto2.jpg" width="300" height="200" alt="imagen"></a>
            <a href="../imgs/foto3.jpg" data-lightbox="migaleria"><img src="../imgs/foto3.jpg" width="300" height="200" alt="imagen"></a> 
            <a href="../imgs/foto4.jpg" data-lightbox="migaleria"><img src="../imgs/foto4.jpg" width="300" height="200" alt="imagen"></a>
            <a href="../imgs/foto5.jpg" data-lightbox="migaleria"><img src="../imgs/foto5.jpg" width="300" height="200" alt="imagen"></a>
            <a href="../imgs/foto6.jpg" data-lightbox="migaleria"><img src="../imgs/foto6.jpg" width="300" height="200" alt="imagen"></a>
            <a href="../imgs/foto7.jpg" data-lightbox="migaleria"><img src="../imgs/foto7.jpg" width="300" height="200" alt="imagen"></a>
            <a href="../imgs/foto8.jpg" data-lightbox="migaleria"><img src="../imgs/foto8.jpg" width="300" height="200" alt="imagen"></a>
        </div>
    <!--Zona del pie de pagina-->
    <footer>
        <p>
            Copyright - Todos los derechos reservados 2024 <br>
            Av. de Navarra, 93, Delicias, 50017 Zaragoza
        </p>
        <div>
            <a href="https://www.facebook.com" class="logo_link"><img src="../imgs/124010.png" class="logo" alt="facebook"></a>
            <a href="https://www.twitter.com" class="logo_link"><img src="../imgs/twitter.png" class="logo" alt="twitter"></a>
            <a href="https://www.instagram.com" class="logo_link"><img src="../imgs/instalogo.png" class="logo" alt="instagram"></a>
        </div>
    </footer>
</body>
</html>